* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --links-hover-color: #2a4dd0;
  --main-bg-color: #f2f9fe;
  --btn-text-color: #ffffff;
  --check-bg-color: #4ca154;
  --heading-color: #223344;
  --text-color: #111729;
  --text-secondary-color: #909193;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100dvh;
  font-family: "Poppins", sans-serif;
  font-size: 1.125rem;
  background-color: var(--main-bg-color);
}

img {
  max-inline-size: 100%;
  block-size: auto;
}

h1 {
  font-size: 2.2rem;
  color: var(--heading-color);
  font-weight: 700;
  text-wrap: pretty;
}

main {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  flex: 1;
  padding: 0.8rem;
  padding-bottom: 0;
}

.author-info {
  font-size: 14px;
  text-align: center;
  margin-top: 16px;
  color: rgb(55, 65, 81);
}

.author-info a {
  text-decoration: none;
}

/* ------- HEADER SECTION ------- */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: relative;
  z-index: 10;
}

.header__open-nav-button {
  position: absolute;
  right: 10px;
}

.header__checkbox {
  display: none;
}

.header__nav {
  display: none;
  position: absolute;
  height: 100vh;
  width: 50vw;
  top: 0;
  z-index: -1;
  background-color: var(--btn-text-color);
}

.header__nav-list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 40vh;
  margin: 5rem auto;
  gap: 35px;
}

.header__checkbox:checked ~ .header__nav {
  display: flex;
  right: 0;
  overflow: hidden;
}

.header__nav-item {
  list-style: none;
}

.header__nav-list:last-child li button {
  margin-top: 2rem;
  padding: 2px 2px 0 1px;
  border: none;
  border-radius: 10px;
  background-color: var(--heading-color);
}

.header__nav-list:last-child li button img {
  width: 18px;
  height: 18px;
}

.header__nav-list:last-child li button img[src="./resources/Sun_fill.svg"] {
  margin-left: 2px;
  border-radius: 10px;
  border: none;
  background-color: var(--main-bg-color);
}

.header__nav-list .header__nav-item a {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--text-secondary-color);
  font-weight: 600;
}

.header__nav-list .header__nav-item:first-child a {
  color: var(--links-hover-color);
  text-decoration: underline;
  text-underline-offset: 5px;
  font-weight: 600;
}

.active-menu {
  overflow: hidden;
  height: 100%;
}

/* ------- MAIN SECTION ------- */
.benefits {
  display: flex;
  align-items: center;
  margin-top: 2.5rem;
  gap: 3px;
}

.benefits img {
  width: 20px;
  height: 20px;
}

.benefits p {
  font-size: clamp(0.8rem, 2.2vw, 0.875rem);
  color: var(--text-secondary-color);
}

.benefits > img + p {
  margin-right: 0.875rem;
}

.content-left {
  margin-block: 1.5rem;
}

.content-left a {
  font-size: 0.875rem;
  margin-left: 1.5rem;
  font-weight: 600;
  text-underline-offset: 7px;
  color: var(--links-hover-color);
}

.content-left button {
  padding: 1rem 1.5rem;
  font-size: 1rem;
  color: var(--btn-text-color);
  font-weight: 600;
  background-color: var(--links-hover-color);
  border: none;
  border-radius: 10px;
}

.content-left > p {
  font-size: clamp(1rem, 1vw, 1.125rem);
  margin-bottom: 0.6rem;
  color: var(--heading-color);
  font-weight: 600;
}

.content-left h1 + p {
  font-size: clamp(1rem, 3.2vw, 1.125rem);
  margin: 1.8rem 0 1.5rem 0;
  color: var(--text-secondary-color);
  font-weight: 500;
}

.content-right {
  width: 300px;
  margin: auto;
}

.dark-theme {
  background-color: var(--text-color);
}

button img[src="./resources/Moon_fill.svg"] {
  width: 16px;
  height: 16px;
  margin-bottom: 1px;
  filter: brightness(0) invert(1);
}

@media screen and (min-width: 43.75rem) {
  main {
    flex-direction: row;
    align-items: center;
    padding-inline: 3rem;
  }

  h1 {
    font-size: 3.75rem;
  }

  .benefits > img + p {
    color: var(--heading-color);
    font-weight: 500;
  }

  .content-left {
    margin-block: initial;
  }

  .content-right {
    width: 1000px;
  }

  .content-right img {
    width: 100%;
  }

  .content-left h1 + p {
    color: var(--heading-color);
    text-wrap: initial;
  }

  .header {
    height: 10vh;
    padding: 1rem 3rem;
  }

  .header__logo,
  .header__nav-list:last-child li button {
    vertical-align: middle;
  }

  .header__nav {
    display: block;
    position: static;
    width: auto;
    height: auto;
    margin: 0 auto;
    z-index: initial;
    background-color: initial;
  }

  .header__nav-list {
    flex-direction: row;
    width: auto;
    height: auto;
  }

  .header__open-nav-button {
    display: none;
  }

  .header__nav-list .header__nav-item a {
    font-size: 0.875rem;
    color: var(--heading-color);
    font-weight: 600;
  }

  .header__nav-list:last-child li button {
    margin-top: initial;
    position: relative;
    left: 200px;
  }
}

@media screen and (min-width: 80rem) {
  h1 {
    text-wrap: balance;
  }
}

@media (orientation: portrait) and (min-width: 43.75rem) {
  main {
    flex-direction: column-reverse;
    align-items: center;
    padding-inline: 3rem;
  }

  h1 {
    font-size: 3.75rem;
  }

  .benefits > img + p {
    color: var(--heading-color);
    font-weight: 500;
  }

  .content-left {
    margin-block: initial;
  }

  .content-right {
    width: 700px;
  }

  .content-right img {
    width: 100%;
  }

  .content-left h1 + p {
    color: var(--heading-color);
    text-wrap: initial;
  }

  .header {
    height: 10vh;
    padding: 1rem 3rem;
  }

  .header__logo,
  .header__nav-list:last-child li button {
    vertical-align: middle;
  }

  .header__nav {
    display: block;
    position: static;
    width: auto;
    height: auto;
    margin: 0 auto;
    z-index: initial;
    background-color: initial;
  }

  .header__nav-list {
    flex-direction: row;
    width: auto;
    height: auto;
  }

  .header__open-nav-button {
    display: none;
  }

  .header__nav-list .header__nav-item a {
    font-size: 0.875rem;
    color: var(--heading-color);
    font-weight: 600;
  }

  .header__nav-list:last-child li button {
    margin-top: initial;
    position: relative;
    left: 60px;
  }
}