* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --links-hover-color: #2a4dd0;
  --main-bg-color: #f2f9fe;
  --btn-text-color: #ffffff;
  --check-bg-color: #4ca154;
  --heading-color: #223344;
  --text-color: #111729;
  --text-secondary-color: #909193;
}

body {
  height: 100vh;
  font-family: "Poppins", sans-serif;
  font-size: 1.125rem;
  background-color: var(--main-bg-color);
}

img {
  max-inline-size: 100%;
  block-size: auto;
}

h1 {
  font-size: clamp(2.5rem, 2.2vw, 3.75rem);
  color: var(--heading-color);
  font-weight: 700;
  text-wrap: balance;
}

main {
  display: flex;
  flex-direction: column-reverse;
  padding: 0.8rem;
  padding-bottom: 0;
}

.author-info {
  font-size: 14px;
  text-align: center;
  margin-top: 16px;
  color: rgb(55, 65, 81);
}

.author-info a {
  text-decoration: none;
}

/* ------- HEADER SECTION ------- */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: relative;
  z-index: 10;
}

.header__checkbox {
  display: none;
}

.header__nav {
  display: none;
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  z-index: -1;
}

.header__open-nav-button {
  position: absolute;
  right: 10px;
}

.header__nav-list {
  display: flex;
  flex-direction: column;
  height: 40vh;
  margin: auto;
  justify-content: space-evenly;
}

.header__nav-item a {
  text-decoration: none;
  color: var(--text-color);
}

/* ------- MAIN SECTION ------- */
.benefits {
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
  gap: 3px;
}

.benefits img {
  width: 20px;
  height: 20px;
}

.benefits p {
  font-size: 0.875rem;
  color: var(--text-secondary-color);
}

.content-left {
  margin-block: 1.5rem;
}

.content-left a {
  margin-left: 2rem;
  font-weight: 500;
  text-underline-offset: 7px;
  color: var(--links-hover-color);
}

.content-left button {
  padding: 1rem 2rem;
  font-size: 1rem;
  color: var(--btn-text-color);
  font-weight: 600;
  background-color: var(--links-hover-color);
  border: none;
  border-radius: 10px;
}

.content-left > p {
  margin-bottom: 0.6rem;
  color: var(--heading-color);
  font-weight: 600;
}

.content-left h1 + p {
  margin: 1.5rem 0 1.5rem 0;
  color: var(--text-secondary-color);
  font-weight: 500;
}
